In [3]:
input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
print(input_list)
input_list.remove('SPSS')
print(input_list)
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPSS']
['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

In [4]:
input_str = 'I love Data Science & Python'
final_list = input_str.split('&')    
print(final_list)

['I love Data Science ', ' Python']

In [6]:
inp =  ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
out = ' & '.join(inp)
print(out)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [9]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(input_list)
print(input_list[2][0])

[['SAS', 'R'], ['Tableau', 'SQL'], ['Python', 'Java']]
Python

In [14]:
t = ("disco", 12, 4.5)
print(t[0][2])

s

In [21]:
#Palindrome 
inp_str = input('Input string-\n')
if inp_str == inp_str[::-1]:
    print(1)
else:
    print(0)

Input string-
ama
1

In [22]:
#Reverse word
inp_str = input('Input string-\n')
words = inp_str.split(' ') 
out_reverse = ' '.join(reversed(words))
print(out_reverse)

Input string-
Write a program that satisfies below examples
examples below satisfies that program a Write

In [40]:
def str_formatting(inp1):
    print(f'Input - {inp1}')
    inp_list = inp1.split(' ')
    con_str = '_'.join(inp_list)
    print(f'Output - {con_str.lower()}')

In [41]:
str_formatting('caloRie ConsuMed')
str_formatting('data science')
str_formatting('datascience')

Input - caloRie ConsuMed
Output - calorie_consumed
Input - data science
Output - data_science
Input - datascience
Output - datascience

In [ ]:
1. How will you extract ‘love’ from the string S = “I love Python”? (More than one
option may be correct.).
a. S[2:5]
b. S[2:6]
c. S[3:7]
d. S[-11:-7]
e. S[-11:-8]
     
Ans - b and d

In [ ]:
2. What will the output of 3 * 3 ** 3 be?
a. 9
b. 27
c. 81
d. 729

Ans - c

In [49]:
3. What will the output be of ((500//7) % 5) ** 3?
a. 1
b. 2.91
c. 71.42
d. 0
e. 8

Ans - a

81

In [54]:
4. If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?
a. (3, 5, 7, 9, 11)
b. (9, 3, 5, 7, 11)
c. (3, 5, 7, 11, 9)
d. Error

Ans - d

In [ ]:
5. What will the output of the following program be?
a. Vikas
b. Mahima
c. y
d. A
Ans - Question is not complete.

In [6]:
l = [32, 34, 12, 27, 33]
l.append((14, 19))
print(l)
print(len(l))

[32, 34, 12, 27, 33, (14, 19)]
6

In [ ]:
6. What will the output of the following code be?

a. 5
b. 6
c. 7
d. The code will throw an error

Ans - b

In [ ]:
7. Which of the following statements is incorrect regarding sets in Python?
a. Sets do not contain duplicate elements
b. Sets are represented using curly braces {}
c. Sets are immutable
d. All of the above

Ans - d

In [7]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
    print(val)

1
2
3

In [ ]:
Whatwilltheoutputbeofthefollowingcode?
  D = {l:['Raj', 22), 2:('Simran',21], 3:['Rahul', 40]}
for val in D:
print(val)
a. 1 2 3
b. [‘Raj’, 22] [‘Simran’, 21]
[‘Rahul’, 40]
c. 1 [‘Raj’, 22]
2 [‘Simran’, 21]
3 [‘Rahul’, 40]
d. ‘Raj’
‘Simran’ ‘Rahul’
                         
Ans - a

In [ ]:
9. What will the ‘comprehension equivalent’ be for the following snippet of code?
a. word for sentence in paragraph for word in sentence.split()
b. [word for sentence in paragraph for word in sentence.split()]
c. word for word in sentence.split() for sentence in paragraph
d. [word for word in sentence.split() for sentence in paragraph]

Ans - b

In [ ]:
What will be the output of this code?
a. [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
b. [9, 8, 7, 6, 5, 4, 3, 2]
c. [9, 8, 7, 6, 5, 4, 3, 2, 1]
d. [10, 9, 8, 7, 6, 5, 4, 3, 2]

Ans - d

In [8]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]